In [1]:
print("PythonIO")

PythonIO

In [5]:
file = open("bukafile.txt", "w") # menuliskan perintah ke file "bukafile.txt"
file.write("Teks Pembuka\n")
file.write("Teks Berikutnya")
file.write("writelines")

file.close()

In [9]:
#file.writelines(Lines)

file = open("buatlines.xlsx", "w") # write dalam banyak baris
lines = ["Teks Pembuka \n", "Teks Berikutnya \n", "PythonIO \n", "DTS"]

file.writelines(lines)
file.close()

In [12]:
# menuliskan data dengan input 

file = open("daftarnama.txt", "w")
print("Daftar Nama Peserta")
datapeserta = [] # List kosong yang akan ditambahkan dengan append
for i in range(5):
    nama = input("Nama ke %d: " %(i+1)) # menuliskan nama peserta
    file.write(nama + "\n")
    datapeserta.append(nama)
    
file.close()

Daftar Nama Peserta

Nama ke 1:  Rere
Nama ke 2:  Amel
Nama ke 3:  Faiz
Nama ke 4:  Ridho
Nama ke 5:  Icha

In [17]:
# menuliskan daftar provinsi dengan input

file = open("daftarprovinsi.txt", "w")
file.write("10 Daftar Provinsi di Indonesia \n")
daftarprovinsi = []
for i in range(10):
    prov = input("%d." %(i+1))
    file.write(prov + "\n")
    daftarprovinsi.append(prov)
    
file.close()

1. Nangroe Aceh Darussalam
2. Riau
3. Kepulauan Riau
4. Sumatera Barat
5. Sumatera Utara
6. Sumatera Selatan
7. Lampung
8. Jambi
9. Bengkulu
10. DKI Jakarta

In [16]:
# perintah file.read(jumlahkarakter)

file = open("daftarnama.txt", "r") # mode akses "r" read
isifile = file.read(7)
print(isifile)

file.close()

Rere
Am

In [19]:
# membaca data dengan metode file.readline()

file = open("daftarnama.txt", "r")
# buat perintah membaca readline sebanyak jumlah baris pada teks
baris1 = file.readline()
baris2 = file.readline()
baris3 = file.readline()
baris4 = file.readline()
baris5 = file.readline()

print("Baris 1: ", baris1)
print("Baris 2: ", baris2)
print("Baris 3: ", baris3)
print("Baris 4: ", baris4)
print("Baris 5: ", baris5)

file.close()

Baris 1:  Rere

Baris 2:  Amel

Baris 3:  Faiz

Baris 4:  Ridho

Baris 5:  Icha

In [20]:
# perintah readline() tidak efisien --> solusi Looping method

file = open("daftarnama.txt", "r") #read file
i = 0 # indeks i akan dinaikkan (increment)
for baris in file:
    print("Baris ke %d:" %(i), baris)
    i = i + 1 # i += 1
    
file.close()

Baris ke 0: Rere

Baris ke 1: Amel

Baris ke 2: Faiz

Baris ke 3: Ridho

Baris ke 4: Icha

In [1]:
# membaca data string
file = open("numerik.txt", "r")
total = 0.0
for baris in file:
    nilai = float(file.readline()) # konversi teks to float per baris
    total = total + nilai # total += nilai
    
file.close()
print("Total nilai: %.2f" %total )
print("Nilai Rata-rata: %.2f" %(total/20))

Total nilai: 526.00
Nilai Rata-rata: 26.30

In [1]:
import pandas as pd

data = pd.read_csv('inputcsv.csv')
print(data)

   ID      name  salary   startDate        dept
0   1      Rick  623.30    1/1/2012          IT
1   2       Dan  515.20   9/23/2013  Operations
2   3  Michelle  611.00  11/15/2014          IT
3   4      Ryan  729.00   5/11/2014          HR
4   5      Gary  843.25   3/27/2015     Finance
5   6      Nina  578.00   5/21/2013          IT
6   7     Simon  632.80   7/30/2013  Operations
7   8      Guru  722.50   6/17/2014     Finance

In [2]:
data = pd.read_csv('inputcsv.csv')
# membaca panel data untuk kolom yang spesifik
print(data[0:5]['salary'])

0    623.30
1    515.20
2    611.00
3    729.00
4    843.25
Name: salary, dtype: float64

In [3]:
data = pd.read_csv('inputcsv.csv')
# menampilkan semua baris kategori salary dan name
print(data.loc[:, ['salary', 'name']])

   salary      name
0  623.30      Rick
1  515.20       Dan
2  611.00  Michelle
3  729.00      Ryan
4  843.25      Gary
5  578.00      Nina
6  632.80     Simon
7  722.50      Guru

In [5]:
# menampilkan baris dan kolom yang spesifik
data = pd.read_csv('inputcsv.csv')
print(data.loc[[1,3,5],['salary', 'name']])

   salary  name
1   515.2   Dan
3   729.0  Ryan
5   578.0  Nina

In [6]:
data = pd.read_csv('inputcsv.csv')
print(data.loc[2:6,['salary', 'name']])

   salary      name
2  611.00  Michelle
3  729.00      Ryan
4  843.25      Gary
5  578.00      Nina
6  632.80     Simon

In [7]:
# Membaca data JSON

data = pd.read_json('inputjson.json')
print(data)

   ID      Name  Salary   StartDate        Dept
0   1      Rick  623.30    1/1/2012          IT
1   2       Dan  515.20   9/23/2013  Operations
2   3  Michelle  611.00  11/15/2014          IT
3   4      Ryan  729.00   5/11/2014          HR
4   5      Gary  843.25   3/27/2015     Finance
5   6      Nina  578.00   5/21/2013          IT
6   7     Simon  632.80   7/30/2013  Operations
7   8      Guru  722.50   6/17/2014     Finance

In [8]:
# membaca baris dan kolom yang spesifik

data = pd.read_json('inputjson.json')
print(data.loc[[2,4,6], ['Name', 'Dept']])

       Name        Dept
2  Michelle          IT
4      Gary     Finance
6     Simon  Operations

In [10]:
# membaca file json dengan perintah to_json()

data = pd.read_json('inputjson.json')
print(data.to_json(orient = 'records', lines = True))

{"ID":1,"Name":"Rick","Salary":623.3,"StartDate":"1\/1\/2012","Dept":"IT"}
{"ID":2,"Name":"Dan","Salary":515.2,"StartDate":"9\/23\/2013","Dept":"Operations"}
{"ID":3,"Name":"Michelle","Salary":611.0,"StartDate":"11\/15\/2014","Dept":"IT"}
{"ID":4,"Name":"Ryan","Salary":729.0,"StartDate":"5\/11\/2014","Dept":"HR"}
{"ID":5,"Name":"Gary","Salary":843.25,"StartDate":"3\/27\/2015","Dept":"Finance"}
{"ID":6,"Name":"Nina","Salary":578.0,"StartDate":"5\/21\/2013","Dept":"IT"}
{"ID":7,"Name":"Simon","Salary":632.8,"StartDate":"7\/30\/2013","Dept":"Operations"}
{"ID":8,"Name":"Guru","Salary":722.5,"StartDate":"6\/17\/2014","Dept":"Finance"}

In [12]:
# SERIES --> 1D array
# DataFrame --> 2D array

s = pd.Series()
print(s) # output? himpunan kosong

Series([], dtype: float64)

In [14]:
# ndarray --> import numpy as np

import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e'])
s = pd.Series(data)
print(data)
print(s)

['a' 'b' 'c' 'd' 'e']
0    a
1    b
2    c
3    d
4    e
dtype: object

In [15]:
data = np.array(['a', 'b', 'c', 'd', 'e'])
s = pd.Series(data, index=[10,20,30,40,50])
print(s)

10    a
20    b
30    c
40    d
50    e
dtype: object

In [20]:
# mengakses data dari Series menggunakan indexing
s= pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
print(s)
print(s[2]) #mengakses series dengan index
print(s[4])
print(s[:3]) # indeks ke 0 s.d 2
print(s[2:]) # indeks ke 2 s.d akhir

print(s[1::2]) # indeks dari 1 s.d akhir dengan step selisih 2
print(s[-1]) # indeks terakhir
print(s[-3:]) #mengambil 3 elemen terakhir

a    1
b    2
c    3
d    4
e    5
dtype: int64
3
5
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64
b    2
d    4
dtype: int64
5
c    3
d    4
e    5
dtype: int64

In [24]:
# mengambil data menggunakan label (indeks)

s= pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])

# mengambil multielement
print(s[['a', 'b', 'c']])
print(s[['e']])

a    1
b    2
c    3
dtype: int64
e    5
dtype: int64

In [25]:
# DATAFRAME --> 20 array

# s --> series
# df --> DataFrame

df = pd.DataFrame()
print(df) # output? himpunan kosong

Empty DataFrame
Columns: []
Index: []

In [26]:
# Insert list for DataFrame

data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(data) # List
print(df) # dataframe (tabel kolom)

[1, 2, 3, 4, 5]
   0
0  1
1  2
2  3
3  4
4  5

In [27]:
# membuat tabel dan kolom custom

data = [['Rere', 21], ['Amel', 19], ['Eza', 20]] # matriks 3 (baris) x 2 (kolom)
df = pd.DataFrame(data, columns = ['Nama', 'Usia']) # membuat header
print(df)

   Nama  Usia
0  Rere    21
1  Amel    19
2   Eza    20

In [29]:
data = pd.read_excel('inputexc.xlsx')
# print(data)

print(data.loc [[1,3,5], ['salary', 'startDate']]

SyntaxError: unexpected EOF while parsing (<ipython-input-29-26fffc74e30c>, line 4)